@import url('https://fonts.googleapis.com/css2?family=Young+Serif&family=Outfit:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    margin-top: 100px;
    background-color: #F3E5D8;
    font-family: 'Outfit', sans-serif;
    overflow: auto;
}

h1 {
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-weight: 600;
    font-family: 'Young Serif', serif;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Outfit', sans-serif;
    padding-left: 20px;
    font-weight: 400;

}

h2 {
    color: #7E425C;
    padding-left: 25px;
    padding-top: 10px;
}

h3 {
    color: #884D41;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.lista_dois {
    padding-left: 25px;
    line-height: 1rem;
    padding-bottom: 10px;

}

hr {
    margin-top: 15px;
    margin-bottom: 15px;

}

h4 {
    color: #8A5746;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

}

.lista_tres {
    font-weight: 400;
    font-size: 16px;
    padding-left: 40px;


}

section {
    border-radius: 30px;
    padding-top: 50px;
    max-width: 680px;
    margin: auto;
    background-color: #FFFFFF;
    margin-bottom: 100px;

}

.conteudo {
    max-width: 600px;
    margin: auto;
    overflow: hidden;

}

img {
    width: 100%;
    border-radius: 30px;
    padding-left: 20px;
}

.primeiroLi {
    background-color: #FFF7FC;
    border-radius: 10px;
    height: auto;
    width: 95%;
    margin: auto;
}

.lista_um {
    margin-top: 10px;
    margin-left: 40px;
}

li {
    padding-left: 10px;
    line-height: 2rem;
}

.Nutrition1 {
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #8A5746;
    padding-left: 200px;
}

.Nutrition2 {
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #8A5746;
    padding-left: 220px;
}

.Nutrition3 {
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #8A5746;
    padding-left: 210px;
}

.Nutrition4 {
    font-weight: 600;
    font-family: 'Outfit', sans-serif;
    color: #8A5746;
    padding-left: 235px;
}

@media screen and (max-width: 768px) {
    body {
        margin-top: 50px;
        overflow-x: auto;
    }
    
    main { 
        overflow-x: auto;
    }
     
    h1 {
        font-size: x-large;
        padding-left: 10px;
    }

    p {
        font-size: small;
        padding-left: 10px;
    }

    h2 {
        padding-left: 15px;
    }

    h3 {
        font-size: large;
        padding-left: 5px;
    }

    .lista_dois {
        padding-left: 15px;
    }

    h4 {
        font-size: large;
        padding-left: 5px;
    }

    .lista_tres {
        padding-left: 20px;
    }
    .containe {
        padding: 0 10px;
    }

    .primeiroLi,
    .estilo_list {
        width: 90%;
        margin: auto;
    }
}